[submodule "numix-gtk-theme"]
	path = numix-gtk-theme
	url = git@github.com:numixproject/numix-gtk-theme.git
[submodule "pix-saver"]
	path = extensions/pixel-saver
	url = git@github.com:deadalnix/pixel-saver.git
